<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reservation Confirmation</title>
    <link rel="stylesheet" href="{{ url_for('static',filename='css/paymentconfirm.css')}}">
</head>
<body>
    <header>
        <h1>Order Confirmation</h1>
    </header>
    <div class="container">
        <div class="confirmation-message">
            <h2>Thank You!</h2>
            <p>Your food order has been confirmed</p>
            <button  onclick="window.location.href='{{ url_for('home') }}';">Back to Home</button>
        </div>
    </div>
    <footer>
        <p>© 2024 Our Restaurant. All rights reserved.</p>
    </footer>
</body>
</html>